.container{
    margin:50px 0;
}

.card{
    margin:1% 2% !important;
}

.Infected{
    background-color: teal;
    background-color: rgba(0, 0, 255, 0.1) !important;
   
    border-bottom:5px solid rgba(0, 0, 255, 0.8) !important;
}

.Recovered{
    background-color: rgba(1, 173, 1, 0.1) !important;
   
    border-bottom:5px solid rgba(1, 173, 1, 0.8)  !important;
}


.Deaths{
    background-color: rgba(255, 0, 0, 0.1) !important;
    
    border-bottom:5px solid rgba(255, 0, 0, 0.8) !important;
}